<!--begin content-->
<section class="main d-flex justify-content-between align-items-stretch flex-wrap flex-md-nowrap flex-lg-nowrap">
    <!--begin main nav-->
    <div class="main__nav main_nav">
        <div class="main_nav__logo">
            <a href="/"><img src="img/logo.svg" alt="Logo" /></a>
        </div>
    </div>
    <!--end main nav-->
    <div class="main__content main_content">
        <!--begin main amount-->
        <div class="main_content__amount main_amount d-flex align-items-center">
            <div class="main_amount__text">
                <h3 class="title">$49.56</h3>
                <p class="mb-0">Available Credit</p>
            </div>
        </div>
        <!--end main amount-->
        <!--begin main tabs-->
        <div class="main__tabs main_tabs">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-payment-tab" data-toggle="tab" href="#nav-payment" role="tab" aria-controls="nav-payment" aria-selected="true">Add Payment</a>
                    <a class="nav-item nav-link" id="nav-subscriptions-tab" data-toggle="tab" href="#nav-subscriptions" role="tab" aria-controls="nav-subscriptions" aria-selected="false">Manage Subscriptions</a>
                    <a class="nav-item nav-link" id="nav-update-tab" data-toggle="tab" href="#nav-update" role="tab" aria-controls="nav-update" aria-selected="false">Update Payment</a>
                    <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">History</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
                    <div class="add">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-7 mb-4">
                                <div class="border">
                                    <div class="add__title">
                                        <h3 class="title">Add Credits to your account</h3>
                                    </div>
                                    <div class="add__content add_content">
                                        <p>This is a one-time payment that will not recur. Payment may take
                                            up to 5 minutes to process.</p>
                                        <h4 class="title">Choose amount</h4>
                                        <div class="add_content__amount add_amount">
                                            <ul class="p-0 m-0 d-flex flex-wrap">
                                                <li>
                                                    <a href="#/">$10</a>
                                                </li>
                                                <li>
                                                    <a href="#/">$25</a>
                                                </li>
                                                <li>
                                                    <a href="#/">$50</a>
                                                </li>
                                                <li>
                                                    <a href="#/">$100</a>
                                                </li>
                                                <li>
                                                    <a href="#/">$250</a>
                                                </li>
                                                <li>
                                                    <a href="#/">Other</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h4 class="title">Choose Payment Method</h4>
                                        <div class="add_content__method add_method">
                                            <nav>
                                                <div class="nav nav-tabs d-flex flex-wrap" id="nav-tab2" role="tablist">
                                                    <a class="nav-item nav-link active" id="nav-card-tab" data-toggle="tab" href="#nav-card" role="tab" aria-controls="nav-card" aria-selected="true">
                                                        <span>
                                                            <img src="img/logo_card_grey.svg" alt="Logo"/>
                                                            <img src="img/logo_card_color.svg" alt="Logo"/>
                                                        </span>
                                                        Credit card
                                                    </a>
                                                    <a class="nav-item nav-link" id="nav-paypal-tab" data-toggle="tab" href="#nav-paypal" role="tab" aria-controls="nav-paypal" aria-selected="false">
                                                        <span>
                                                            <img src="img/logo_paypal_grey.svg" alt="Logo"/>
                                                            <img src="img/logo_paypal_color.svg" alt="Logo"/>
                                                        </span>
                                                        PayPal
                                                    </a>
                                                    <a class="nav-item nav-link" id="nav-bitcoin-tab" data-toggle="tab" href="#nav-bitcoin" role="tab" aria-controls="nav-bitcoin" aria-selected="false">
                                                        <span>
                                                            <img src="img/logo_bitcoin_grey.svg" alt="Logo"/>
                                                            <img src="img/logo_bitcoin_color.svg" alt="Logo"/>
                                                        </span>
                                                        Bitcoin
                                                    </a>
                                                </div>
                                            </nav>
                                            <div class="tab-content" id="nav-tabContent2">
                                                <div class="tab-pane fade show active" id="nav-card" role="tabpanel" aria-labelledby="nav-card-tab">
                                                    <div class="saved_cards">
                                                        <div class="saved_cards__title d-flex justify-content-between align-items-center">
                                                            <div class="check">
                                                                <span></span>
                                                                <h3 class="title">Saved Cards</h3>
                                                            </div>
                                                            <img src="img/icon_arrow_open.svg" alt="Icon" />
                                                        </div>
                                                        <div class="saved_cards__info saved_info">
                                                            <div class="saved_info__details d-flex justify-content-between align-items-center">
                                                                <div class="check">
                                                                    <span></span>
                                                                    <h3 class="title">XXXX-XXXX-5676</h3>
                                                                </div>
                                                                <h3 class="title">Ajit talwar</h3>
                                                                <img src="img/logo_visa.svg" alt="Logo" />
                                                            </div>
                                                            <div class="saved_info__condition d-inline-flex align-items-center">
                                                                <input type="checkbox" id="condition" />
                                                                <label for="condition">I agree to terms and conditions</label>
                                                            </div>
                                                            <div class="saved_info__btn">
                                                                <a class="btn_orange" href="#/">Make Payment</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="line"><span>Or</span></div>
                                                    <div class="new_cards">
                                                        <div class="new_cards__title d-flex justify-content-between align-items-center">
                                                            <div class="check">
                                                                <span></span>
                                                                <h3 class="title">Add a new Card</h3>
                                                            </div>
                                                            <img src="img/icon_arrow_open.svg" alt="Icon" />
                                                        </div>
                                                        <div class="saved_cards__info saved_info">
                                                            <div class="saved_info__form">
                                                                <input type="text" placeholder="Card holder’s name">
                                                                <input type="number" placeholder="Card Number">
                                                                <input type="number" placeholder="MM/YY">
                                                            </div>
                                                            <div class="saved_info__condition d-inline-flex align-items-center">
                                                                <input type="checkbox" id="condition2" />
                                                                <label for="condition2">I agree to terms and conditions</label>
                                                            </div>
                                                            <div class="saved_info__btn">
                                                                <a class="btn_orange" href="#/">Make Payment</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-paypal" role="tabpanel" aria-labelledby="nav-paypal-tab">
                                                    <div class="payment_method">
                                                        <h3 class="title">Login to your Paypal Account</h3>
                                                        <div class="saved_info__condition d-inline-flex align-items-center">
                                                            <input type="checkbox" id="condition3" />
                                                            <label for="condition3">I agree to terms and conditions</label>
                                                        </div>
                                                        <div class="saved_info__btn">
                                                            <a class="btn_orange" href="#/">Pay with Paypal</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-bitcoin" role="tabpanel" aria-labelledby="nav-bitcoin-tab">
                                                    <div class="payment_method">
                                                        <h3 class="title">Login to your Pay via Bitcoin</h3>
                                                        <div class="saved_info__condition d-inline-flex align-items-center">
                                                            <input type="checkbox" id="condition4" />
                                                            <label for="condition4">I agree to terms and conditions</label>
                                                        </div>
                                                        <div class="saved_info__btn">
                                                            <a class="btn_orange" href="#/">Pay with Bitcoin</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-5">
                                <div class="border">
                                    <div class="add__title">
                                        <h3 class="title">Summary</h3>
                                    </div>
                                    <div class="summary__form">
                                        <input type="text" placeholder="Enter Discount Code">
                                        <input class="btn_orange" type="submit" value="Apply">
                                    </div>
                                    <div class="summary__info">
                                        <ul class="m-0 p-0">
                                           <li>
                                               <p><b>Discount Applied</b></p>
                                               <p><b>25% off</b></p>
                                           </li>
                                            <li>
                                                <p>Total Billed to Credit Card </p>
                                                <p>$7.45</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-subscriptions" role="tabpanel" aria-labelledby="nav-subscriptions-tab">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-7 available_credits">
                            <div class="border d-flex justify-content-between flex-wrap">
                                <div class="available_credits__price">
                                    <h3 class="title">Available Credits</h3>
                                    <span>$45.56</span>
                                </div>
                                <div class="available_credits__renew switcher">
                                    <input type="checkbox" id="toggle" class="checkbox" />
                                    <label for="toggle" class="switch"></label>
                                    <h3 class="title">Auto Renew</h3>
                                </div>
                                <div class="available_credits__btn">
                                    <a class="btn_green" href="#/">Add Credits</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-7 current_plans">
                            <div class="border">
                                <div class="add__title">
                                    <h3 class="title">Add Credits to your account</h3>
                                </div>
                                <div class="row current_plans__wrapper current_plans_wrap">
                                    <div class="col-6 col-md-3 col-lg-3 current_plans_wrap__item">
                                        <h3 class="title">Plan 1</h3>
                                        <span class="current_plans_wrap__undertitle">Private Proxies</span>
                                        <p>100 proxies</p>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-3 current_plans_wrap__item">
                                        <h3 class="title">Validid till</h3>
                                        <span class="current_plans_wrap__undertitle">01/01/2019</span>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-3 current_plans_wrap__item">
                                        <h3 class="title">Payment Method</h3>
                                        <span class="current_plans_wrap__method">Credit card</span>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-3 current_plans_wrap__item d-flex align-items-center">
                                        <a data-toggle="modal" data-target="#cancel_subscription" class="btn_orange" href="#/">Cancel</a>
                                    </div>
                                </div>
                                <div class="row current_plans__wrapper current_plans_wrap">
                                    <div class="col-6 col-md-3 col-lg-3 current_plans_wrap__item">
                                        <h3 class="title">Plan 2</h3>
                                        <span class="current_plans_wrap__undertitle">Private Proxies</span>
                                        <p>100 proxies</p>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-3 current_plans_wrap__item">
                                        <h3 class="title">Validid till</h3>
                                        <span class="current_plans_wrap__undertitle">01/01/2019</span>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-3 current_plans_wrap__item">
                                        <h3 class="title">Payment Method</h3>
                                        <span class="current_plans_wrap__method">Credit card</span>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-3 current_plans_wrap__item d-flex align-items-center">
                                        <a data-toggle="modal" data-target="#cancel_subscription" class="btn_orange" href="#/">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-update" role="tabpanel" aria-labelledby="nav-update-tab">
                    <div class="update">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-7 update_list">
                                <div class="border">
                                    <div class="add__title">
                                        <h3 class="title">Make a Credit Card Payment</h3>
                                    </div>
                                    <div class="add__content add_content">
                                        <div class="saved_cards">
                                            <div class="saved_cards__title d-flex justify-content-between align-items-center">
                                                <div class="check">
                                                    <span></span>
                                                    <h3 class="title">Saved Cards</h3>
                                                </div>
                                                <img src="img/icon_arrow_open.svg" alt="Icon" />
                                            </div>
                                            <div class="saved_cards__info saved_info">
                                                <div class="saved_info__details d-flex justify-content-between align-items-center">
                                                    <div class="check">
                                                        <span></span>
                                                        <h3 class="title">XXXX-XXXX-5676</h3>
                                                    </div>
                                                    <a href="#/">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="line"><span>Or</span></div>
                                        <div class="new_cards">
                                            <div class="new_cards__title d-flex justify-content-between align-items-center">
                                                <div class="check">
                                                    <span></span>
                                                    <h3 class="title">Add a new Card</h3>
                                                </div>
                                                <img src="img/icon_arrow_open.svg" alt="Icon" />
                                            </div>
                                            <div class="saved_cards__info saved_info">
                                                <div class="saved_info__form">
                                                    <input type="text" placeholder="Card holder’s name">
                                                    <input type="number" placeholder="Card Number">
                                                    <input type="number" placeholder="MM/YY">
                                                </div>
                                                <div class="saved_info__condition d-inline-flex align-items-center">
                                                    <input type="checkbox" id="condition5" />
                                                    <label for="condition5">I agree to terms and conditions</label>
                                                </div>
                                                <div class="saved_info__btn">
                                                    <a class="btn_orange" href="#/">Make Payment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-7 update_edit">
                                <div class="border">
                                    <div class="add__title">
                                        <h3 class="title">Edit Card Details</h3>
                                    </div>
                                    <div class="update__form update_form">
                                        <form>
                                            <label>
                                                <span>Name on the card</span>
                                                <input type="text" id="cc-name">
                                            </label>
                                            <label>
                                                <span>Card number</span>
                                                <input type="number" id="cc-number">
                                            </label>
                                            <label>
                                                <span>Card Expiration</span>
                                                <input class="card_expiration" id="cc-expiration">
                                            </label>
                                            <label>
                                                <span>CVV</span>
                                                <input type="number" id="cc-cvv">
                                            </label>
                                        </form>
                                        <div class="update_form__btns update_btns d-flex justify-content-between">
                                            <button class="btn_grey">Cancel</button>
                                            <button class="btn_orange">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
                    <div class="history">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-7">
                                <div class="border">
                                    <div class="add__title">
                                        <h3 class="title">History</h3>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Payment method</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Transaction ID</th>
                                                <th scope="col">Value</th>
                                                <th scope="col">Payment Recipt</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>15-09-2019</td>
                                                    <td class="card_number">Credit Card (XX-5456)</td>
                                                    <td></td>
                                                    <td>#1234567yhgt</td>
                                                    <td>$56.89</td>
                                                    <td>Invoice <a href="#/"><img src="img/icon_history_invoice.svg" alt="Icon" /></a></td>
                                                </tr>
                                                <tr>
                                                    <td>15-09-2019</td>
                                                    <td class="card_number">Credit Card (XX-5456)</td>
                                                    <td></td>
                                                    <td>#1234567yhgt</td>
                                                    <td>$56.89</td>
                                                    <td>Invoice <a href="#/"><img src="img/icon_history_invoice.svg" alt="Icon" /></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end main tabs-->
    </div>
</section>
<!--end content-->

<!-- Modal cancel subscription -->
<div class="modal fade modal_cancel" id="cancel_subscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="add__title">
                    <h3 class="title">Please indicate the reason of cancelling the subscription</h3>
                </div>
                <div class="row modal_cancel__list">
                    <div class="col-4 col-md-3 col-lg-3">
                        <a href="#/">
                            <img src="img/icon_expensive.svg" alt="Icon" />
                            <img src="img/icon_expensive_green.svg" alt="Icon" />
                            Expensive
                        </a>
                    </div>
                    <div class="col-4 col-md-3 col-lg-3">
                        <a href="#/">
                            <img src="img/icon_dificulty.svg" alt="Icon" />
                            <img src="img/icon_dificulty_green.svg" alt="Icon" />
                            Dificulty of use
                        </a>
                    </div>
                    <div class="col-4 col-md-3 col-lg-3">
                        <a href="#/">
                            <img src="img/icon_missing.svg" alt="Icon" />
                            <img src="img/icon_missing_green.svg" alt="Icon" />
                            Missing functionality
                        </a>
                    </div>
                    <div class="col-4 col-md-3 col-lg-3">
                        <a href="#/">
                            <img src="img/icon_using.svg" alt="Icon" />
                            <img src="img/icon_using_green.svg" alt="Icon" />
                            Using other Project
                        </a>
                    </div>
                    <div class="col-4 col-md-3 col-lg-3">
                        <a href="#/">
                            <img src="img/icon_not_using.svg" alt="Icon" />
                            <img src="img/icon_not_using_green.svg" alt="Icon" />
                            Not using it
                        </a>
                    </div>
                    <div class="col-4 col-md-3 col-lg-3">
                        <a href="#/">
                            <img src="img/icon_else.svg" alt="Icon" />
                            <img src="img/icon_else_green.svg" alt="Icon" />
                            Something else
                        </a>
                    </div>
                </div>
                <div class="modal_cancel__btn d-flex justify-content-end">
                    <button data-dismiss="modal" data-toggle="modal" data-target="#canceled_subscription" type="button" class="btn_orange">Cancel Subscription</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal canceled subscription -->
<div class="modal fade modal_canceled" id="canceled_subscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Your Subscription has been cancelled Successfully.</p>
                <button type="button" class="btn_orange" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>